{% extends 'paginas/base.html' %}
{% block titulop %}Inicio - Curso Python Ponal{% endblock titulop %}
{% block mensaje01 %}
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Bienvenidos</h5>
      <h6 class="card-subtitle mb-2 text-muted">Policia Nacional</h6>
      <p class="card-text">Hola al Mundo Django del curso Python de la Policia Nacional de Colombia y la Universidad Distrital Francisco José de Caldas</p>
    </div>
  </div>
{% endblock mensaje01 %}

 
